<template>
  <router-view/>
  <AppToast/>
</template>

<script>
import AppToast from './components/AppToast'
import { toasts, toast } from './functions/toast'
import { provide, readonly } from 'vue'

export default {
  name: 'App',
  components: {
    AppToast,
  },
  setup () {
    provide('toasts', readonly(toasts))
    provide('toast', toast)
  },
}
</script>

<style lang="scss" scoped>

</style>