<template>
  <div class="fixed top-0 left-0 z-10 w-96">
    <div class="py-4 ml-12">
      <div class="px-2 -mb-4 overflow-visible">
        <div class="inline-block px-2 py-1 mx-6 text-white bg-blue-300 border-2 border-white rounded">
          {{ stockopname.username }}
        </div>
      </div>
      <div class="p-2 bg-white border rounded">
        <div class="flex mx-6 mt-4">
          <div class="w-1/2">
            <p class="text-xs text-gray-300">Submit pada</p>
            <p class="text-xl">{{ fmt.time(stockopname.created_at) }}</p>
          </div>
          <div class="w-1/2 text-right">
            <p class="text-xs text-gray-300">Jumlah data</p>
            <p class="text-xl">{{ fmt.number(countDetail) }}</p>
          </div>
        </div>
        <div class="pb-6 mx-6 mt-4 text-right">
          <a
            href="#"
            class="flex text-base text-blue-500 rounded main-btn"
            @click="$router.go(-1)"
            @mouseover="hover = true"
            @mouseleave="hover = false">
            <div class="flex-1">
              <button
                class="w-10 p-2 bg-blue-100 rounded bg-opacity-30 focus:outline-none">
                <fa-icon icon="chevron-left" size="lg"/>
              </button>
            </div>
            <div v-if="hover" class="flex-1">
              <button
                class="p-2 focus:outline-none">
                Kembali
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col w-full h-screen max-h-full px-96">
    <div class="flex flex-initial"></div>
    <div class="flex-auto py-8 mx-12">
      <div class="flex flex-col min-h-full p-4 mt-1 bg-white border rounded">
        <div class="flex flex-col flex-auto overflow-auto">
          <table>
            <tr class="pl-2 ml-8">
              <td class="w-px px-1 text-right">No</td>
              <td class="px-4">Kode</td>
              <td class="px-4">Qty</td>
            </tr>
            <tr v-for="(detail, index) in stockopname.detail_grouped" :key="index" class="pl-2 ml-8">
              <td class="w-px px-1 text-right">{{ fmt.number(index+1) }}</td>
              <td class="px-4">{{ detail.product_code }}</td>
              <td class="px-4">{{ detail.count_product }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="flex-initial h-4"></div>
  </div>
</template>

<script>
export default {
  name: 'Detail',
  inject: ['toast'],
  props: {
    submit: {
      type: Object,
      default: () => ({}),
    },
  },
  data () {
    return {
      hover: false,
      stockopname: [],
      countDetail: 0,
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      this.api.GET('/stockopname_submit/' + this.$route.params.id_stockopname_submit)
        .then(response => {
          this.stockopname = response.data[0]
          this.stockopname.detail_grouped.forEach(element => {
            this.countDetail += element.count_product
          })
        })
        .catch(error => {
          console.log(error)
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
  text-align: left;
}
</style>