<template>
  <modal ref="modal" title="Update Data" @closed="closedModal">
    <template #header>
      <div class="flex p-4 bg-white rounded-t h-36">
        <div class="w-16 p-5 my-6 text-sm text-white bg-green-300 rounded-full"><fa-icon icon="sync-alt" size="2x"/></div>
        <div class="px-8 py-2">
          <p class="text-base">Anda yakin ingin memperbarui sistem ?</p>
          <h4 class="text-xs text-gray-400">Pastikan tidak ada proses lain yang sedang berjalan selama pembaruan sistem</h4>
        </div>
      </div>
    </template>
    <template #content>
      <div class="pb-4 bg-white rounded-b top-9 right-4">
        <div class="flex h-8 px-4 text-sm text-right">
          <div class="w-1/2 text-center">
          </div>
          <div class="w-1/2 text-center">
            <button
              class="w-20 h-8 mr-2 text-white bg-green-300 border-gray-500 rounded"
              @click="confirmUpdate">
              Update
            </button>
            <button
              type="button"
              class="w-20 h-8 ml-2 text-gray-400 bg-gray-100 border-gray-800 rounded"
              @click="close">
              Batal
            </button>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import modal from '../components/AppModal'
export default {
  name: 'ModalConfirmUpdate',
  components: {
    modal,
  },
  emits: ['confirmed', 'closeModal'],
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.$emit('closeModal')
    },
    async confirmUpdate () {
      this.$emit('confirmed')
      this.close()
    },
  },
}
</script>

<style lang="scss" scoped>

</style>