<template>
  <modal ref="modal" title="Hapus Data" @closed="closedModal">
    <template #header>
      <div class="absolute z-20 p-4 bg-blue-300 border-4 border-white rounded left-16">
        <h2 class="text-base font-bold text-white"><fa-icon icon="paper-plane" size="lg"/> Kirim Data</h2>
      </div>
    </template>
    <template #content>
      <div class="absolute w-11/12 p-4 bg-white rounded top-9 right-4">
        <div class="mt-4 overflow-y-auto">
          <slot>
            <p class="px-8 mb-4">Anda yakin ingin kirim data?</p>
          </slot>
        </div>
        <form class="mb-4" @submit.prevent="confirmDelete">
          <div class="flex px-4">
            <div class="w-1/2 text-center">
              <button
                class="w-4/5 h-10 mr-2 text-white bg-blue-500 border-gray-500 rounded disabled:bg-gray-400"
                :disabled="!canSave"
                @click="confirmSave">
                Save
              </button>
            </div>
            <div class="w-1/2 text-center">
              <button
                type="button"
                class="w-4/5 h-10 ml-2 text-gray-200 bg-gray-100 border-gray-100 rounded disabled:bg-gray-400 bg-opacity-30"
                :disabled="!canSave"
                @click="close">
                Batal
              </button>
            </div>
          </div>
        </form>
        <div v-if="error" class="error">
          <div class="flex p-2 text-red-500 bg-red-100 bg-opacity-50 rounded">
            <div class="w-1/12"><fa-icon icon="times-circle" size="lg"/></div>
            <div class="w-11/12">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import modal from '../components/AppModal'
export default {
  name: 'ModalConfirmDelete',
  components: {
    modal,
  },
  props: {
    form: {
      required: true,
      type: Object,
    },
  },
  emits: ['submitted', 'closeModal'],
  data () {
    return {
      ip: '',
      port: '1133',
      error: false,
      errorMessage: 'Terjadi kesalahan saat mengirim data',
      newId: 0,
      canSave: true,
    }
  },
  mounted () {
    this.ip = new URL(window.location.href).searchParams.get('ip')
    this.port = new URL(window.location.href).searchParams.get('port')
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.error = false
      this.$emit('closeModal')
    },
    onIpChange (ip) {
      console.log('ip input change:', ip)
    },
    confirmSave () {
      this.canSave = false
      this.api.POST('/stockopname_submit', this.form)
        .then(response => {
          this.newId = response
          this.$emit('submitted', this.newId)
          this.close()
        })
        .catch(error => {
          this.error = true
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
        .finally(() =>{
          this.canSave = true
        })
      // this.$emit('confirmed', this.ip + ':' + this.port)
    },
  },
}
</script>
<style lang="scss" scoped>

</style>