<template>
  <div class="relative flex flex-col w-full max-h-full px-4 " :class="{'h-screen from-blue-400 to-blue-100 bg-gradient-to-bl': screenHeight, 'h-full bg-blue-300': !screenHeight}">
    <div class="flex items-baseline justify-between flex-initial pt-6 mb-6 text-white">
      <div class="mr-4">
        PIC,
        <template v-if="!editUsername">
          {{ username }}
          <button class="px-2" @click="editUsername = true">
            <fa-icon icon="pencil-alt"/>
          </button>
        </template>
        <template v-else>
          <input
            ref="textUsername"
            v-model="username"
            class="bg-transparent focus:outline-none"
            :autofocus="editUsername"
            :maxlength="maxUsername"
            :minlength="minUsername"
            @blur="editUsername = false"
            @keydown.enter="editUsername = false"
            @keydown.esc="editUsername = false"
          >
        </template>
      </div>
      <div>
        <button v-if="!isLoadingSpinner" class="p-1 mx-1 mr-2 text-lg tooltip" @click="saveScans">
          <fa-icon icon="paper-plane" size="lg"/>
          <span class="text-blue-300 bg-blue-100 tooltiptext">Kirim data</span>
        </button>
        <button v-if="isLoadingSpinner" class="p-1 mx-1 mr-2 text-lg">
          <fa-icon
            icon="spinner"
            spin
            size="lg"/>
        </button>
        <button class="p-1 mx-1 text-lg tooltip" @click="deleteScans">
          <fa-icon icon="trash" size="lg"/>
          <span class="text-blue-300 bg-blue-100 tooltiptext">Hapus data</span>
        </button>
      </div>
    </div>

    <div class="flex-auto mb-8">
      <div class="px-2 -mb-4 overflow-visible text-right">
        <div class="inline-block px-2 py-1 text-white bg-blue-300 border-2 border-white rounded">
          {{ fmt.number(scans.length) }}
        </div>
      </div>
      <div class="flex flex-col min-h-full p-2 pt-4 mb-8 bg-white border rounded">
        <div class="flex flex-col-reverse flex-auto overflow-auto">
          <table>
            <tr v-for="(scan, index) in scans" :key="index" class="pl-2 ml-8">
              <td class="w-px px-1 text-right">{{ fmt.number(index+1) }}</td>
              <td class="px-4">{{ scan }}</td>
            </tr>
          </table>
        </div>
        <div
          class="flex-initial h-12 py-2 mt-4 text-2xl text-center text-white bg-blue-400 rounded"
          :class="{'invisible': !scans.length}">
          {{ scans[scans.length-1] ?? 1 }}
        </div>
      </div>
    </div>

    <div class="flex-initial h-48">
      <form class="my-6" @submit.prevent="enterCode">
        <input
          ref="textScan"
          v-model.trim="textScan"
          class="block w-full p-4 border"
          placeholder="Kode Barang"
          autofocus
          :disabled="!scanEditable"
          @blur="setFocus">
      </form>

      <div class="flex text-xl bg-white border rounded-full">
        <div class="flex-1 border-r rounded-l-full btn-undo hover:bg-blue-50">
          <button
            class="w-full py-4 text-blue-400 rounded-l-full focus-visible:ring-2 focus-visible:ring-blue-400 focus:outline-none"
            @click="undo">
            <fa-icon icon="undo" size="lg"/>
            <span class="px-4">
              Undo
            </span>
          </button>
        </div>
        <div class="flex-1 border-l rounded-r-full btn-redo hover:bg-blue-50">
          <button
            class="w-full py-4 text-blue-400 rounded-r-full focus-visible:ring-2 focus-visible:ring-blue-400 focus:outline-none"
            @click="redo">
            <span class="px-4">
              Redo
            </span>
            <fa-icon icon="redo" size="lg"/>
          </button>
        </div>
      </div>
    </div>
    <modal-confirm-delete
      ref="modalConfirmDelete"
      @confirmed="scans=[]"
      @closeModal="modalDeleteClose" />
    <modal-confirm-save
      ref="modalConfirmSave"
      :form="form"
      @submitted="submitScans"
      @closeModal="modalSaveClose" />
  </div>
</template>

<script>
import ModalConfirmDelete from './ModalConfirmDelete'
import ModalConfirmSave from './ModalConfirmSave'

export default {
  name: 'ScanForm',
  components: {
    ModalConfirmDelete,
    ModalConfirmSave,
  },
  inject: ['toast'],
  props: {
    screenHeight: {
      type: Boolean,
      default: function () {
        return true
      },
    },
  },
  emits: ['sendSubmit'],
  data () {
    return {
      isLoadingSpinner: false,
      scans: [],
      username: '',
      newId: 0,
      textScan: '',
      undoList: [],
      editUsername: false,
      scanEditable: true,
      maxUsername: 15,
      minUsername: 3,
    }
  },
  computed: {
    form () {
      return {
        username: this.username,
        items: this.scans,
      }
    },
    newSubmit () {
      return {
        username: this.username,
        items: this.scans,
        id: this.newId,
      }
    },
  },
  watch: {
    editUsername (editing) {
      if (editing) {
        this.$nextTick(() => {
          this.$refs.textUsername.select()
        })
      } else {
        this.$refs.textScan.focus()
      }
    },
    scans: {
      handler () {
        localStorage.setItem('items', JSON.stringify(this.scans))
      },
      deep: true,
    },
  },
  mounted () {
    this.getItemsFromLocalStorage()
  },
  methods: {
    enterCode () {
      if (this.textScan) {
        this.scans.push(this.textScan)
        this.textScan = ''
        this.undoList = []
      }
    },
    setFocus () {
      this.$nextTick(() => {
        if (!this.editUsername && this.scanEditable && (this.$route.path == '/scan')) {
          this.$refs.textScan.focus()
        }
      })
    },
    undo () {
      if (this.scans.length) {
        const code = this.scans.pop()
        this.undoList.push(code)
      }
    },
    redo () {
      if (this.undoList.length) {
        const code = this.undoList.pop()
        this.scans.push(code)
      }
    },
    submitScans (id) {
      let newSubmit = {
        'id': id,
        'username': this.username,
        'created_at': new Date(),
        'detail_count': this.scans.length,
      }
      this.scanEditable = true
      this.scans = []
      this.toast('Data berhasil disimpan')
      this.$emit('sendSubmit', newSubmit)
    },
    deleteScans () {
      this.$refs.modalConfirmDelete.open()
      this.scanEditable = false
    },
    saveScans () {
      if (this.scans.length && (this.username.length >= this.minUsername)) {
        this.$refs.modalConfirmSave.open()
        this.scanEditable = false
      } else {
        if (!this.scans.length) {
          this.toast('Data masih kosong')
        } else {
          if (!this.username.length) {
            this.toast('Nama PIC tidak boleh kosong')
          } else {
            this.toast('Nama PIC minimal 3 huruf')
          }
        }
      }
    },
    getItemsFromLocalStorage () {
      let items = JSON.parse(localStorage.getItem('items'))
      this.scans = items ?? []
    },
    modalDeleteClose () {
      this.scanEditable = true
    },
    modalSaveClose () {
      this.scanEditable = true
    },
  },
}
</script>

<style lang="scss" scoped>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #d4ebf7;
  color: #69B5E3;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>