<template>
  <div class="flex justify-center w-full h-screen align-middle">
    <div class="relative flex flex-col text-center w-72 top-40">
      <div class="m-8 text-xl text-black">Update Sistem</div>
      <div class="p-2 pt-4 mb-8 bg-white border rounded">
        <div class="flex-col-reverse overflow-auto h-96">
          <table>
            <tr v-for="(processList, index) in processLists" :key="index" class="pl-2 ml-8">
              <td class="px-4 text-xs text-left">{{ processList }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="flex">
        <div class="w-1/3"></div>
        <div class="flex w-2/3 text-right">
          <div class="w-1/2 text-center">
            <router-link
              :to="{ name: 'home'}">
              <button
                :disabled="!clickable"
                class="w-4/5 h-10 text-sm text-white bg-blue-300 border-gray-500 rounded disabled:bg-gray-400">
                Kembali
              </button>
            </router-link>
          </div>
          <div class="w-1/2 text-center">
            <button
              :disabled="!clickable"
              class="w-4/5 h-10 text-sm text-white bg-green-300 border-gray-800 rounded disabled:bg-gray-400"
              @click="update">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-confirm-update ref="modalConfirmUpdate" @confirmed="startUpdate" />
</template>

<script>
import ModalConfirmUpdate from './ModalConfirmUpdate'
export default {
  name: 'Update',
  components: {
    ModalConfirmUpdate,
  },
  inject: ['toast'],
  data () {
    return {
      processLists: [
        'Update Sistem',
        'Saat proses update, dimohon untuk tidak menutup halaman ini.',
      ],
      clickable: true,
    }
  },
  methods: {
    update () {
      this.$refs.modalConfirmUpdate.open()
    },
    startUpdate () {
      this.clickable = false
      this.processLists.push('---------------------------------')
      this.processLists.push('loading...')
      this.api.GET('/file_system/download')
        .then(response => {
          response.forEach(element => {
            this.processLists.push('Nama Proses : ' + element.command)
            this.processLists.push('Hasil : ' + element.result)
            this.processLists.push('')
          })
          this.clickable = true
          location.replace('/')
        })
        .catch(error => {
          this.toast('Terjadi kesalahan saat memperbarui sistem')
          this.processLists.push(error)
          console.log(error)
          this.clickable = true
        })
      console.log('update')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>